/*body{
    font-family: blue;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:gainsboro;
}*/
body {
    font-family: rgb(204, 203, 204), sans-serif;
    background-color: #d3b8b8;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: #d5c9d3;
    border: 1px solid #c6c2c8;
    border-radius: 8px;
    box-shadow: 0 2px 4px palevioletred;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.cabecalho{
    background-color: #bb70b3;
    text-decoration: #c6c2c8;
    width: 800px;
    height: 40px;
    text-align: center;
}

    

.media {
    color:#bb70b3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
img {
    max-width: 100%;
    border-radius: 8px;
    height: 400px;
}
video {
    max-width: 100%;
    border-radius: 8px;
}